* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    /*outline: red solid 1px;*/
}

:root{
    --main-font-family: "Montserrat", sans-serif;
    --main-color: #623BFA;
}

body{
    font-family: var(--main-font-family);
}